{% extends 'Blog/base.html' %}
{% load static %}
{% block title %}
A Propos
{% endblock %}
{% block global %}
<div class="row tm-row tm-mb-45">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <img src="{% static 'Blog/img/couverture.jpg' %}" alt="Image" class="img-fluid-mkgm">
    </div>
</div>
<div class="row tm-row tm-mb-40">
    <div class="col-12">                    
        <div class="mb-4">
            <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">A Propos de ce Blog</h2>
            <p style="text-align: justify;">
                Amaba Discovery Zone (ADZ) est l’un de ces blogs d’information et de 
                discussion qui ont explosé grâce à Facebook. Chroniqueur de la vie 
                quotidienne des gens normaux, de la technologie, ce blog prend très 
                au sérieux l’expérience des utilisateurs. Dès que le visiteur arrive
                 sur la page d’accueil de ADZ, il peut choisir parmi les trois 
                 principales catégories du blog: Actualités , Technologies  et 
                 Experiences .
            </p>
            <p style="text-align:justify;">
                C’est simple mais efficace et cela amène 
                l’utilisateur directement au contenu qui l’intéresse le plus.Ainsi, l’utilisateur peut se familiariser avec le site de manière plus rationnelle. Envisagez de créer quelques catégories principales ou
                listes de conservation pour donner une structure à votre blog et simplifier 
                l’expérience de l’utilisateur.
            </p>                            
        </div>                    
    </div>
</div>
<h1 class=" fa fa-users-cog fa-4X tm-color-primary"> Equipe et Participant</h1> 
<div class="row tm-row tm-mb-60">
    <div class="col-12">
        <hr class="tm-hr-primary  tm-mb-55">
    </div>                
    <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">
            <img src="{% static 'Blog/img/ninko.JPG' %}" alt="Image" class="img-fluid mr-4 rounded-circle" style="height: 150px; width: 100px;">
            <div class="media-body">
                <h2 class="tm-color-primary tm-post-title mb-2">Mme. Ninko Lidwine</h2>
                <h3 class="tm-h3 mb-3">Coordonatrice </h3>
                <p class="mb-0 tm-line-height-short">
                    enseignante / chercheure en sécurité informatique à l’Ecole 
                    Nationale Supérieure Polytechnique de Yaoundé. Expert en sécurité informatique,
                     certifiée CCNA , CEH ,
                     Forensic Investigation, Introduction to CERT and Managing CERT.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">
            <img src="{% static 'Blog/img/bitote.jpg' %}" alt="Image" class="img-fluid mr-4 rounded-circle" style="height: 150px; width: 100px;">
            <div class="media-body">
                <h2 class="tm-color-primary tm-post-title mb-2">Bitote André</h2>
                <h3 class="tm-h3 mb-3">Chef du projet</h3>
                <p class="mb-0 tm-line-height-short">
                    Etudiant à l'école nationale supérieure Polytechnique de Yaoundé
                    Ancien étudiant de l'université de Yaoundé I.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">
            <img src="{% static 'Blog/img/mkgm.jpg' %}" alt="Image" class="img-fluid mr-4 rounded-circle" style="height: 150px; width: 100px;">
            <div class="media-body">
                <h2 class="tm-color-primary tm-post-title mb-2">Kamanou michel</h2>
                <h3 class="tm-h3 mb-3">Participant</h3>
                <p class="mb-0 tm-line-height-short">
                    Etudiant à l'école nationale supérieure Polytechnique de Yaoundé.
                    A participé au codage de l'application.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">
            <img src="{% static 'Blog/img/ariane.jpg' %}" alt="Image" class="img-fluid mr-4 rounded-circle" style="height: 150px; width: 100px;">
            <div class="media-body">
                <h2 class="tm-color-primary tm-post-title mb-2">Ariane Gina</h2>
                <h3 class="tm-h3 mb-3">Participante</h3>
                <p class="mb-0 tm-line-height-short">
                    Etudiant à l'école nationale supérieure Polytechnique de Yaoundé.
                    A participé à la redaction du cahier de charge.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">
            <img src="{% static 'Blog/img/beni.jpg' %}" alt="Image" class="img-fluid mr-4 rounded-circle" style="height: 150px; width: 100px;">
            <div class="media-body">
                <h2 class="tm-color-primary tm-post-title mb-2">Noumsi Béni</h2>
                <h3 class="tm-h3 mb-3">Participant</h3>
                <p class="mb-0 tm-line-height-short">
                    Etudiant à l'école nationale supérieure Polytechnique de Yaoundé.
                    A participé à la redaction du cahier de charge.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">
            <img src="{% static 'Blog/img/abdou.jpg' %}" alt="Image" class="img-fluid mr-4 rounded-circle" style="height: 150px; width: 100px;">
            <div class="media-body">
                <h2 class="tm-color-primary tm-post-title mb-2">Abdourahmane Soidik</h2>
                <h3 class="tm-h3 mb-3">Participant</h3>
                <p class="mb-0 tm-line-height-short">
                    Etudiant à l'école nationale supérieure Polytechnique de Yaoundé.
                    A participé à la redaction du cahier de charge.
                </p>
            </div>
        </div>
    </div>
</div> 

{% endblock global %}